{{ define "navlinks" }}
				<li{{ if eq .Page "instances" }} class="active"{{ end }}><a href="instances">Instances</a></li>
				<li{{ if eq .Page "images" }} class="active"{{ end }}><a href="images">Images</a></li>
				<li{{ if eq .Page "access" }} class="active"{{ end }}><a href="access">Access</a></li>
{{ end }}
