{{ define "navlinks" }}
				<li{{ if eq .Page "instances" }} class="active"{{ end }}><a href="instances">Instances</a></li>
				<li{{ if eq .Page "images" }} class="active"{{ end }}><a href="images">Images</a></li>
				<li{{ if eq .Page "networks" }} class="active"{{ end }}><a href="networks">Networks</a></li>
				<li{{ if eq .Page "keypairs" }} class="active"{{ end }}><a href="keypairs">Keypairs</a></li>
{{ end }}
